@charset "UTF-8";
@import "style/normalize.css";
:root {
  --dark: #17212b;
  --white: #e5e5e5;
  --blue-grey: #7f91a4;
  --blue-grey2: #28303d;
  --lightblue: #6ab2f2;
  --slate: #465362;
  --cool-blue: #5288c1;
  --dark-two: #0e1621;
  --greyish: #b2b2b2;
  --dark-three: #242f3d;
  --dark-four: #182533;
  --light-navy-blue: #2b5278;
  --dark-five: #1d2a39;
  --almost-black: #020201;
  --greyish-two: #b7b7b7;
  --steel: #858e97;
  --slate-grey: #5b6774;
  --greyish-three: #b0b0b0;
  --black: #010101;
  --battleship-grey: #6d7883;
  --lightblue-two: #51b3f3;
  --bluish-grey: #7a8c9e;
  --light-grey-blue: #7da8d3;
  --steel-grey: #737e87;
  --battleship-grey-two: #6c7883;
  --slate-two: #52616d;
  --white-two: #ffffff;
  --transition: all .3s ease;
  --base-font-size: 10px;
  --animation-curve: cubic-bezier(1, 0, 0, 1);
  --phone-width: 320px;
  --smart-width: 600px;
  --tablet-width: 768px;
  --small-desktop-width: 1024px;
  --desktop-width: 1280px;
  --wide-desktop-width: 1600px;
}

*, ::after, ::before {
  box-sizing: border-box;
  color: var(--white);
}

html {
  font-family: "Ubuntu", sans-serif;
  font-size: var(--base-font-size);
  height: 100%;
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 8px;
  }
}

body {
  background: var(--dark);
  height: 100%;
}

input, textarea {
  border: none;
  background: var(--dark);
}

.overlay::before {
  content: "";
  position: absolute;
  z-index: 70;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.scroll {
  overflow: auto;
}
.scroll::-webkit-scrollbar {
  width: 2px;
}
.scroll::-webkit-scrollbar-thumb {
  background: var(--cool-blue);
}
.scroll::-webkit-scrollbar-track {
  /* 3 - трек */
  background: transparent;
}

.btn {
  background: var(--cool-blue);
  border-radius: 5px;
  max-width: 132px;
  width: 100%;
  border: none;
  padding: 9px 17px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn svg {
  width: 2rem;
  height: 2rem;
}
.btn:hover {
  background: white;
  color: var(--cool-blue);
}
.btn:hover svg {
  transition: all 0.3s ease;
}
.btn:hover svg path {
  fill: var(--cool-blue);
}
.btn._menu {
  padding: 0;
  background: none;
  z-index: 55;
  display: block;
  width: 20px;
}
.btn._menu:hover span {
  background: var(--cool-blue);
}
.btn._menu span {
  transition: all 0.2s ease;
  display: block;
  height: 2px;
  width: 20px;
  background: var(--white);
  margin-bottom: 5px;
  pointer-events: none;
}
.btn._menu._open span:nth-child(1) {
  transform: rotate(45deg);
}
.btn._menu._open span:nth-child(2) {
  visibility: hidden;
  opacity: 0;
}
.btn._menu._open span:nth-child(3) {
  margin-top: -14px;
  transform: rotate(-45deg);
}
.btn._uppercase {
  text-transform: uppercase;
}
.btn._size-small {
  font-size: 14px;
  padding: 8px 10px;
  line-height: 14px;
}
.btn._mt-20 {
  margin-top: 2rem;
}
.btn._mt-15 {
  margin-top: 1.5rem;
}
.btn._bg-white svg {
  border-radius: 100%;
  box-shadow: inset white 0 0 3px 10px, white 0 0 1px 2px;
}
.btn._wide-auto {
  max-width: none;
}

.popup {
  max-width: 516px;
  background: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 3rem 4rem;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 5px 15px -7px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translate(-50%);
  top: -1500px;
  transition: var(--transition);
}
.popup._open {
  top: 5rem;
}
.popup__title {
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-bottom: 0;
}
.popup__text {
  text-align: center;
  font-size: 16px;
  color: var(--blue-grey);
}
.popup__close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  z-index: 10;
}
.popup__close::before {
  content: "";
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  background: none;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.popup__close svg path {
  transition: var(--transition);
}
.popup__close:hover svg path {
  fill: var(--lightblue);
}

.auth__icon {
  width: 14rem;
  height: 14rem;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  background: #28303d;
}
.auth__icon img {
  background: transparent;
  width: 6.6rem;
  object-fit: contain;
}

.form input, .form textarea {
  width: 100%;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 300;
  border-bottom: 1px solid var(--slate);
}
.form input::placeholder, .form textarea::placeholder {
  color: #9f9f9f;
  font-family: "Ubuntu", sans-serif;
}
.form input:focus-visible, .form textarea:focus-visible {
  transition: var(--transition);
  outline: none;
  border-color: var(--cool-blue);
}
.form__item {
  display: flex;
  margin: 10px 0;
  position: relative;
}
.form__item span {
  position: absolute;
  display: none;
}
.form__item._isValid::after, .form__item._isNoValid::after {
  content: "✓";
  position: absolute;
  font-size: 12px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: var(--cool-blue);
  color: #fff;
  border-radius: 100%;
}
.form__item._isNoValid::after {
  content: "x";
  background: #d72c2cc7;
}
.form__btn svg {
  margin-left: 1rem;
}
.form__btn._center {
  display: flex;
  justify-content: center;
}

.chat {
  height: 100%;
  display: flex;
}
.chat__panel {
  max-width: 260px;
  width: 100%;
  border-right: 2px solid var(--dark-two);
  padding: 1rem 2rem 1rem 1.5rem;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .chat__panel {
    max-width: 5rem;
    padding: 0.8rem 1rem;
  }
}
.chat__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chat__users {
  padding: 2rem 0;
  margin-top: 2rem;
  max-height: 100%;
}
.chat__users .message {
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .chat__users .message__name {
    display: none;
  }
}
.chat__col {
  flex-grow: 1;
}
.chat__history {
  background-color: var(--dark-two);
  flex-grow: 1;
  padding: 2rem 0;
  max-height: calc(100% - 54px);
}
.chat__name {
  padding: 1rem 1.6rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: capitalize;
}
.chat__name span {
  display: block;
  color: var(--blue-grey);
}
.chat__row {
  display: flex;
  z-index: 55;
}
.chat__search {
  background-color: var(--dark-three);
  padding: 0.8rem 0.9rem;
  font-size: 1.4rem;
  margin-left: 1rem;
  border-radius: 5px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .chat__search {
    visibility: hidden;
  }
}
.chat__send {
  padding: 1rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 54px;
  position: relative;
}
.chat__send textarea {
  border-bottom: none;
  font-size: 1.4rem;
  padding: 5px 0 0;
  height: 28px;
  margin-right: 1.5rem;
  resize: none;
}
.chat__send textarea::placeholder {
  color: var(--slate-grey);
}
.chat__send button:hover span {
  color: var(--cool-blue);
}
.chat__send button span {
  pointer-events: none;
  display: block;
}
@media only screen and (max-width: 767px) {
  .chat__send button span {
    display: none;
  }
}
.chat__send button svg {
  pointer-events: none;
  display: none;
  width: 2rem;
  height: 2rem;
}
@media only screen and (max-width: 767px) {
  .chat__send button svg {
    display: block;
  }
}
.chat__send button svg path {
  fill: var(--white);
}
@media only screen and (max-width: 767px) {
  .chat__send button {
    max-width: 4rem;
    padding: 0;
  }
}
.chat__help {
  font-size: 1rem;
  position: absolute;
  bottom: 3px;
  left: 15px;
  color: var(--white);
  opacity: 0.7;
}

.message {
  padding: 1rem;
  display: flex;
  background: transparent;
}
@media only screen and (max-width: 767px) {
  .message {
    padding: 0.5rem;
  }
}
@media only screen and (max-width: 1279px) {
  .message._my {
    justify-content: flex-end;
  }
}
.message__ava {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  object-fit: contain;
}
.message__ava-name {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cool-blue);
  text-transform: uppercase;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  position: sticky;
  top: 0;
}
.message__block {
  margin-left: 1rem;
  background: transparent;
}
@media only screen and (max-width: 1279px) {
  ._my .message__block {
    order: -1;
    margin: 0 1rem 0 0;
  }
}
.message__text {
  padding: 0.7rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  min-height: 3.3rem;
  position: relative;
  border-radius: 5px;
  margin-bottom: 5px;
  background: var(--dark-four);
  overflow-wrap: anywhere;
  width: max-content;
  margin-right: auto;
}
._my .message__text {
  background: var(--light-navy-blue);
}
@media only screen and (max-width: 1279px) {
  ._my .message__text {
    margin-right: unset;
    margin-left: auto;
  }
}
@media only screen and (max-width: 1024px) {
  ._my .message__text {
    max-width: 400px;
  }
}
@media only screen and (max-width: 767px) {
  ._my .message__text {
    max-width: 230px;
  }
}
.message__text span {
  color: var(--bluish-grey);
  margin-left: 10px;
  align-self: end;
  line-height: 1;
  margin-top: auto;
  white-space: nowrap;
}
._my .message__text span {
  background: var(--light-navy-blue);
}
.message__text:first-child::before {
  content: "";
  position: absolute;
  left: -8px;
  bottom: 0;
  background: transparent;
  border: 8px solid transparent;
  border-bottom: 7px solid var(--dark-four);
}
._my .message__text:first-child::before {
  border-bottom: 7px solid var(--light-navy-blue);
}
@media only screen and (max-width: 1279px) {
  ._my .message__text:first-child::before {
    left: auto;
    right: -8px;
  }
}
.message__name {
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 0.5rem;
}
._my .message__name {
  text-align: left;
}
@media only screen and (max-width: 1279px) {
  ._my .message__name {
    text-align: right;
  }
}

.user {
  display: flex;
  margin-bottom: 2rem;
}
.user._active {
  position: relative;
}
.user._active::after {
  content: "";
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: #4bb34b;
}
.user__block {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .user__block {
    display: none;
  }
}
.user__name {
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-transform: capitalize;
}
._my .user__name {
  text-align: right;
}
@media only screen and (max-width: 1279px) {
  ._my .user__name {
    text-align: left;
  }
}
.user__ava {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  object-fit: contain;
}
@media only screen and (max-width: 1279px) {
  .user__ava {
    height: 3rem;
    width: 3rem;
  }
}
.user__ava-name {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cool-blue);
  text-transform: uppercase;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  position: sticky;
  top: 0;
  font-size: 1.5rem;
}
@media only screen and (max-width: 1279px) {
  .user__ava-name {
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
  }
}
.user__message {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  color: var(--blue-grey);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem;
  position: absolute;
  left: -100%;
  background: var(--dark);
  transition: var(--transition);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 5px 15px -7px rgba(0, 0, 0, 0.5);
}
.menu._open {
  transition: var(--transition);
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: none;
  width: 220px;
}
.menu__block {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.menu__block._hide {
  display: none;
}
.menu__ava {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background: var(--dark-five);
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
  object-fit: contain;
  margin-right: 1rem;
  cursor: pointer;
}
.menu__ava svg {
  width: 2rem;
  height: 2rem;
  pointer-events: none;
}
.menu__ava._ava svg {
  opacity: 0;
}
.menu__urer-name {
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
