@charset "UTF-8";
@import "style/normalize.css";
:root {
  --dark: #17212b;
  --white: #e5e5e5;
  --blue-grey: #7f91a4;
  --blue-grey2: #28303d;
  --lightblue: #6ab2f2;
  --slate: #465362;
  --cool-blue: #5288c1;
  --dark-two: #0e1621;
  --greyish: #b2b2b2;
  --dark-three: #242f3d;
  --dark-four: #182533;
  --light-navy-blue: #2b5278;
  --dark-five: #1d2a39;
  --almost-black: #020201;
  --greyish-two: #b7b7b7;
  --steel: #858e97;
  --slate-grey: #5b6774;
  --greyish-three: #b0b0b0;
  --black: #010101;
  --battleship-grey: #6d7883;
  --lightblue-two: #51b3f3;
  --bluish-grey: #7a8c9e;
  --light-grey-blue: #7da8d3;
  --steel-grey: #737e87;
  --battleship-grey-two: #6c7883;
  --slate-two: #52616d;
  --white-two: #ffffff;
  --transition: all .3s ease;
  --base-font-size: 12px;
  --phone-width: 320px;
  --smart-width: 600px;
  --tablet-width: 768px;
  --small-desktop-width: 1024px;
  --desktop-width: 1280px;
  --wide-desktop-width: 1600px;
}

*, ::after, ::before {
  box-sizing: border-box;
  background: var(--dark);
  color: var(--white);
}

html {
  font-family: "Ubuntu", sans-serif;
  font-size: var(--base-font-size);
  height: 100%;
}

body {
  height: 100%;
}

input, textarea {
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
}
.container #map {
  flex-grow: 1;
}

.scroll::-webkit-scrollbar {
  width: 2px;
}
.scroll::-webkit-scrollbar-thumb {
  background: var(--cool-blue);
}
.scroll::-webkit-scrollbar-track {
  /* 3 - трек */
  background: transparent;
}

.btn {
  background: var(--cool-blue);
  border-radius: 5px;
  max-width: 132px;
  width: 100%;
  border: none;
  padding: 9px 17px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background: white;
  color: var(--cool-blue);
}
.btn._menu {
  padding: 0;
  width: auto;
  background: none;
}
.btn._uppercase {
  text-transform: uppercase;
}
.btn._size-small {
  font-size: 14px;
  padding: 8px 10px;
  line-height: 14px;
}
.btn._mt-40 {
  margin-top: 40px;
  max-width: 112px;
}

.auth {
  max-width: 516px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 40px 100px;
  position: relative;
}
.auth__title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 0;
}
.auth__text {
  text-align: center;
  font-size: 16px;
  color: var(--blue-grey);
}
.auth__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 10;
}
.auth__close::before {
  content: "";
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  background: none;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.auth__close svg path {
  transition: var(--transition);
}
.auth__close:hover svg path {
  fill: var(--lightblue);
}
.auth__icon {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background: #28303d;
}
.auth__icon img {
  background: transparent;
  width: 66px;
  object-fit: contain;
}

.form input, .form textarea {
  width: 100%;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 300;
  border-bottom: 1px solid var(--slate);
}
.form input::placeholder, .form textarea::placeholder {
  color: #9f9f9f;
  font-family: "Ubuntu", sans-serif;
}
.form input:focus-visible, .form textarea:focus-visible {
  transition: var(--transition);
  outline: none;
  border-color: var(--cool-blue);
}
.form__item {
  display: flex;
  margin: 10px 0;
}
.form__btn._center {
  display: flex;
  justify-content: center;
}

.chat {
  height: 100%;
  display: flex;
}
.chat__pannel {
  max-width: 260px;
  width: 100%;
  border-right: 2px solid var(--dark-two);
  padding: 10px 22px 10px 15px;
}
.chat__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chat__history {
  background-color: var(--dark-two);
  flex-grow: 1;
  padding: 2rem 0;
}
.chat__name {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
}
.chat__name span {
  display: block;
  color: var(--blue-grey);
}
.chat__row {
  display: flex;
}
.chat__search {
  background-color: var(--dark-three);
  padding: 8px 9px;
  font-size: 14px;
  margin-left: 10px;
  border-radius: 5px;
}
.chat__send {
  padding: 10px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 54px;
}
.chat__send textarea {
  border-bottom: none;
  font-size: 14px;
  padding: 10px 0 0;
  height: 28px;
  margin-right: 20px;
  resize: none;
}
.chat__send textarea::placeholder {
  color: var(--slate-grey);
}
.chat__send button {
  margin-top: auto;
}

.message {
  padding: 10px;
  display: flex;
  background: transparent;
}
@media only screen and (max-width: 1279px) {
  .message._my {
    justify-content: flex-end;
  }
}
.message__ava {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  object-fit: contain;
}
.message__block {
  margin-left: 10px;
  background: transparent;
}
@media only screen and (max-width: 1279px) {
  ._my .message__block {
    order: -1;
    margin: 0 10px 0 0;
  }
}
.message__text {
  padding: 7px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  min-height: 33px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 5px;
}
._my .message__text {
  background: var(--light-navy-blue);
}
.message__text span {
  color: var(--bluish-grey);
  margin-left: 10px;
  align-self: end;
  line-height: 1;
  margin-top: auto;
}
._my .message__text span {
  background: var(--light-navy-blue);
}
.message__text:first-child::before {
  content: "";
  position: absolute;
  left: -8px;
  bottom: 0;
  background: transparent;
  border: 8px solid transparent;
  border-bottom: 7px solid var(--dark-four);
}
._my .message__text:first-child::before {
  border-bottom: 7px solid var(--light-navy-blue);
}
@media only screen and (max-width: 1279px) {
  ._my .message__text:first-child::before {
    left: auto;
    right: -8px;
  }
}

/*# sourceMappingURL=style.css.map */
