*, ::after, ::before {
  box-sizing: border-box;

  color: var(--white);
}

html {
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--base-font-size);
  height: 100%;
}

body {
  background: var(--dark);
  //font-family: "Montserrat", sans-serif;
  //color: $text-color;
  //line-height: 1.3;
  height: 100%;
}

input, textarea {
  border: none;
  background: var(--dark);
}

.overlay {
  &::before {
    content: '';
    position: absolute;
    z-index: 50;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
}
//.container {
//  display: flex;
//  flex-direction: column;
//}

.scroll {
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--cool-blue);
  }

  &::-webkit-scrollbar-track { /* 3 - трек */
    background: transparent;
  }

  overflow: auto;
  //overflow-x: hidden;
  //scrollbar-color: white;
  //scrollbar-width: thin;


  //&._vertical {
  //  overflow-y: hidden;
  //  overflow-x: auto;
  //  &::-webkit-scrollbar {
  //    height: 6px;
  //    background: white;
  //  }
  //}


}


