.btn {
  background: var(--cool-blue);
  border-radius: 5px;
  max-width: 132px;
  width: 100%;
  border: none;
  padding: 9px 17px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 2rem;
    height: 2rem;
    //margin-left: 1rem;
  }


  &:hover {
    //opacity: .8;
    background: white;
    color: var(--cool-blue);

    svg {
      transition: all .3s ease;

      path {
        fill: var(--cool-blue);
      }
    }
  }

  &._menu {
    padding: 0;
    background: none;
    z-index: 55;
    display: block;
    //transition: all .3s ease;
    width: 20px;

    &:hover {
      span {
        background: var(--cool-blue);
      }
    }

    span {
      transition: all .2s ease;
      display: block;
      height: 2px;
      width: 20px;
      background: var(--white);
      margin-bottom: 5px;
      pointer-events: none;
    }


    &._open {
      span {

        &:nth-child(1) {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          visibility: hidden;
          opacity: 0;
        }

        &:nth-child(3) {
          margin-top: -14px;
          transform: rotate(-45deg);
        }
      }
    }

    //todo: добавить анимацию в крестик
  }

  &._uppercase {
    text-transform: uppercase;
  }

  &._size-small {
    font-size: 14px;
    padding: 8px 10px;
    line-height: 14px;
  }

  &._mt-20 {
    margin-top: 2rem;
  }

  &._mt-15 {
    margin-top: 1.5rem;
  }

  &._bg-white {
    //background: white;
    //color: var(--cool-blue);
svg {
  //background: rgba(white, .4);
  border-radius: 100%;
  box-shadow: inset white 0 0 3px 10px, white 0 0 1px 2px;
}
    //&:hover {
    //  color: white;
    // background: var(--cool-blue);;
    //  svg {
    //    transition: all .3s ease;
    //
    //    path {
    //      fill: var(--cool-blue);
    //    }
    //  }
    //}
    //svg {
    //  transition: all .3s ease;
    //
    //  path {
    //    fill: var(--cool-blue);
    //  }
    //}
  }

  &._wide-auto {
    max-width: none;
  }

  //display: flex;
  //margin-left: auto;
}