.chat {
  //todo: vars css, in scss minix not working?
  height: 100%;
  display: flex;

  &__panel {
    max-width: 260px;
    width: 100%;
    border-right: 2px solid var(--dark-two);
    padding: 1rem 2rem 1rem 1.5rem;
    position: relative;

    @include phone {
      max-width: 50px;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__col {
    flex-grow: 1;
  }
  &__history {
    background-color: var(--dark-two);
    flex-grow: 1;
    padding: 2rem 0;
    max-height: calc(100% - 54px);
    //overflow: scroll;
  }

  &__name {
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-transform: capitalize;

    span {
      display: block;
      color: var(--blue-grey);
    }
  }

  &__row {
    display: flex;
    z-index: 55;
  }

  &__search {
    background-color: var(--dark-three);
    padding: .8rem .9rem;
    font-size: 1.4rem;
    margin-left: 1rem;
    border-radius: 5px;
    width: 100%;
    @include phone {
      visibility: hidden;
    }
  }

  &__send {
    padding: 1rem 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 54px;
    position: relative;

    textarea {
      border-bottom: none;
      font-size: 1.4rem;
      padding: 5px 0 0;
      height: 28px;
      margin-right: 1.5rem;
      resize: none;

      &::placeholder {
        color: var(--slate-grey);
      }
    }

    button {
      //margin-top: auto;
      &:hover {
        span {
          color: var(--cool-blue);
        }
      }
      span {
        pointer-events: none;
        display: block;
        @include phone {
          display: none;
        }
      }

      svg {
        pointer-events: none;
        display: none;
        width: 2rem;
        height: 2rem;
        @include phone {
          display: block;
        }

        path {
          fill: var(--white);
        }
      }

      @include phone {
        max-width: 4rem;
        padding: 0;
      }
    }
  }
  &__help {
    font-size: 1rem;
    position: absolute;
    bottom: 3px;
    left: 15px;
    color: var(--white);
    opacity: .7;
  }
}