.message {
  padding: 10px;
  display: flex;
  background: transparent;

  &._my {
    @include small-desktop {
      justify-content: flex-end;
    }
  }

  &__ava {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    object-fit: contain;

  }

  &__ava-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cool-blue);
    text-transform: uppercase;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
  }

  &__block {
    margin-left: 1rem;
    background: transparent;
    @include small-desktop {
      ._my & {
        order: -1;
        margin: 0 10px 0 0;
      }
    }

  }

  &__text {
    padding: .7rem 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    min-height: 3.3rem;
    position: relative;
    border-radius: 5px;
    margin-bottom: 5px;
    background: var(--dark-four);
    overflow-wrap: anywhere;

    ._my & {
      background: var(--light-navy-blue);
    }

    span {
      color: var(--bluish-grey);
      margin-left: 10px;
      align-self: end;
      line-height: 1;
      margin-top: auto;

      ._my & {
        background: var(--light-navy-blue)
      }
    }

    &:first-child {

      &::before {
        content: '';
        position: absolute;
        left: -8px;
        bottom: 0;
        background: transparent;
        border: 8px solid transparent;
        border-bottom: 7px solid var(--dark-four);


        ._my & {
          border-bottom: 7px solid var(--light-navy-blue);

          @include small-desktop {
            left: auto;
            right: -8px;
          }
        }
      }
    }
  }
}