:root {
  --dark: #17212b;
  --white: #e5e5e5;
  --blue-grey: #7f91a4;
  --blue-grey2: #28303d;
  --lightblue: #6ab2f2;
  --slate: #465362;
  --cool-blue: #5288c1;

  --dark-two: #0e1621;
  --greyish: #b2b2b2;
  --dark-three: #242f3d;
  --dark-four: #182533;
  --light-navy-blue: #2b5278;
  --dark-five: #1d2a39;
  --almost-black: #020201;
  --greyish-two: #b7b7b7;
  --steel: #858e97;
  --slate-grey: #5b6774;
  --greyish-three: #b0b0b0;
  --black: #010101;

  --battleship-grey: #6d7883;
  --lightblue-two: #51b3f3;
  --bluish-grey: #7a8c9e;
  --light-grey-blue: #7da8d3;

  --steel-grey: #737e87;
  --battleship-grey-two: #6c7883;
  --slate-two: #52616d;
  --white-two: #ffffff;


  --transition: all .3s ease;
  --base-font-size: 10px;


  --animation-curve: cubic-bezier(1, 0, 0, 1);

  //Разрешения экранов
  --phone-width: 320px;
  --smart-width: 600px;
  --tablet-width: 768px;
  --small-desktop-width: 1024px;
  --desktop-width: 1280px;
  --wide-desktop-width : 1600px;
}

