.auth.popup(data-action='true')
    .popup__close.js-close
         include ../img/close.svg
    .auth__icon
        img(src="img/logo.png")
    h1.popup__title Авторизация
    p.popup__text Введите пожалуйста своё фио и ник для дальнейшей авторизации
    form.form(data-action='true')
        .form__item
            input(placeholder="Введите ФИО").js-user-name
        .form__item
            input(placeholder="Введите свой ник").js-user-nickName
        .form__btn._center
            button.btn._uppercase._mt-40.js-enter войти