.auth
    .auth__close
         include ../img/close.svg
    .auth__icon
        img(src="img/logo.png")
    h1.auth__title Авторизация
    p.auth__text Введите пожалуйста своё фио и ник для дальнейшей авторизации
    form.form
        .form__item
            input(placeholder="Введите ФИО")
        .form__item
            input(placeholder="Введите свой ник")
        .form__btn._center
            button.btn._uppercase._mt-40 войти