.auth.popup._open(data-action='true')
    .popup__close.js-close
         include ../img/close.svg
    .auth__icon
        img(src="img/logo.png")
    h1.popup__title Авторизация
    p.popup__text Введите пожалуйста своё фио и ник для дальнейшей авторизации
    form.form(data-action='true')
        .form__item
            input(placeholder="Введите ФИО" data-error='введите ФИО').js-user-name
        .form__item
            input(placeholder="Введите свой ник" data-error='введите ник').js-user-nickName

        .form__btn._center
            button.btn._uppercase._mt-20.js-enter войти
        .form__btn._center
            button.btn._wide-auto._uppercase._mt-15.js-auth-google войти через google
                include ../img/google-icon.svg