.menu.js-menu(data-action='true')
    .menu__block
        .menu__ava.js-change-ava
            include ../img/camera.svg
        .menu__wrap
            .menu__urer-name.js-panel-userName
            .menu__urer-exit.js-panel-exit
                include ../img/logout.svg

    .menu__block._hide
        img(src=`./img/ava2.jpg`).menu__ava
        .menu__urer-name